<nav class="navbar navbar-default navbar-expand-sm">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-brand">DAILY JOURNAL</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li id="home"><a href="/">Home</a></li>
            <li id="about"><a href="/about">About Us</a></li>
            <li id="contact"><a href="/contact">Contact Us</a></li>
            <li id="contact"><a href="/compose">Compose</a></li>
        </ul>
    </div>
</nav>